{% extends "base.html" %}

{% block content %}
<div id="content-inside">
    <div id="page-description">
        <article>{{ title }}</article>
        <div>
            <p>
                Občianske združenie Terra Aurum je nezávislým,
                dobrovoľným občianskym združením s pôsobením v SR.
            </p>
            <p>
                Hlavným cieľom občianskeho združenia Terra Aurum je
                zachovanie ľudovej kultúry ako zlatého dedičstva krajiny
                prostredníctvom rezilienčných postupov v činnosti a aktivitách
                obyvateľov vidieckych sídel, pomocou podpory aktivít v
                sídle zameraných na sociálny, kultúrny, športový, vzdelávací,
                ekonomický rozvoj, rozvoj turizmu a i. rozvoj s dôrazom na
                rešpektovanie, ochranu a udržiavanie ľudovej kultúry, zvykov
                a tradícií sídla, hodnôt a potenciálu regiónu a kultúrneho dedičstva.
            </p>
        </div>
    </div>
</div>
{% endblock %}