/* Colors */
:root {
  --main-color: #B2863A;
  --s-color: #EEEFEB;
  --background-color: rgb(0 0 0 / 13%);
}

/* Index webpage  */
#terra-aurum {
    text-align: center;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 460px;
    padding: 0 5%;
    margin-bottom: 35px;

    & div {
        padding: 5%;
        margin: 10%;
        background-color: #eeefeb7d;
        & h1 {color: var(--main-color);}
        & h4 {
            color: var(--s-color);
            font-style: italic;
        }
        & p {color: var(--s-color);}
    }
}

/* Quote */
#quote-section {
    padding: 0% 5%;
    margin: 0 10% 30px 10%;
    border-left: 2px solid var(--main-color);

    & p {
        font-style: italic;
        font-size: 20px;
        text-align: left;
        color: var(--s-color);
    }
}

/* Events block */
.main-events-block {
    padding: 0 10% 5% 10%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    color: var(--s-color);
     & h2 {
        padding: 1%;
        margin-bottom: 0;
    }
}

#main-events {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    & .main-event {
        min-width: 90%;
        margin: 5% 5% 0 5%;
        scroll-snap-align: center;
        background-color: var(--background-color);
        transition: min-width 5s, margin 5s;
        transform: translateX(-110%);

        & .main-event-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15%;
            padding: 5% 5% 0 5%;
        }

        .event-content {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & p {
                padding: 0 5%;
            };

            & a {
                width: 33%;
                text-align: center;
                font-style: italic;
                padding: 1% 2%;
                margin: 5%;
            };
        };
    }
}

/* Contact form */
.contact-form {
    padding: 0 10%;
    margin-bottom: 5%;

    & form {
        background-color: var(--background-color);
        padding: 30px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & button {
            padding: 1%;
            margin-left: 5px;
            color: var(--s-color);
            font-style: italic;
            border: 1px solid var(--s-color);
            background-color: transparent;
        }
        & button:hover {
            color: var(--main-color);
            border: 1px solid var(--main-color);
            background-color: transparent;
        }
    }
    & form div input {
        padding-top: 15px;
        height: 50px;
        background-color: var(--s-color);
    }
    & form div textarea {
        padding-top: 30px;
        background-color: var(--s-color);
    }
}
.contact-form-title {
    padding: 1%;
}
.contact-form form > div {
    padding: 5px;
    width: 98%;
}
.contact-form form div > label {
    color: #B2863A;
    font-style: italic;
    position: absolute;
    padding: 5px 10px;
}
.contact-form form div > input,textarea {
    font-family: "Cinzel", sans-serif;
    font-size: large;
    border: none;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* Full name inputs */
.form-full-name {
    display: flex;
    flex-direction: row;

    & div {width: 50%;}
    & div:first-child {padding-right: 20px;}
}

/* Documents block */
.documents-block {
    padding: 5%;
    background-color: var(--background-color);
    & h2 {
        margin: 0 0 5% 0;
        color: var(--s-color);
    }
    & ul {
        color: var(--s-color);
        a {
            color: var(--s-color);
            font-style: italic;
            text-decoration: underline;
        }
    }
}

/* Media */
@media screen and (max-width: 800px) {
    #terra-aurum {
        & div {
            width: 100%;
        }
    }
    #quote-section {
        margin-top: 2%;
        & p {font-size: 14px;}
    }

    .event-content {
        & p {font-size: 14px;}
        & a {width: 100%;}
    }

    .contact-form form div > input,textarea {
        font-size: small;
    }
    .contact-form form div input {
        height: 40px;
    }
    .contact-form form div > label {
        font-size: 14px;
    }
    .contact-form form button {
        width: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 426px) {
    .main-event-header {
        height: 20%;
        flex-direction: column;
        align-items: flex-start;
    }
    .main-events-block {
        min-height: 650px;
    }

    .form-full-name {
        flex-direction: column;
    }
    .form-full-name div:first-child {
        padding-right: unset;
        margin-bottom: 15px;
    }
    .form-full-name div {
        width: 100%;
    }

    .contact-form form {
        padding: 0;
        align-items: center;
    }
    .contact-form form > div {
        width: 96%;
    }
    .contact-form form div > input, textarea {
        padding-left: 0;
    }
    .contact-form form button {
        width: 97%;
        margin-left: 0;
    }
}
/*
#main-events::-webkit-scrollbar {
    width: 2px;
}
#main-events::-webkit-scrollbar-track {
    background: #B2863A;
}
#main-events::-webkit-scrollbar-thumb {
    background: #EEEFEB;
    border-radius: 5px;
}

@media screen and (max-width: 1070px) {
    #main {max-height: 435px;}
}
*/