/* Main  elements */
body {
    margin: 0;
    font-family: "Cinzel", sans-serif;
    background: rgb(214,201,129);
    background: linear-gradient(153deg, rgba(214,201,129,1) 10%, rgba(218,174,102,1) 35%, rgba(99,68,17,1) 86%);
}

a {
    text-decoration: none;
    color: #B2863A;
}
button {
    font-family: "Cinzel", sans-serif;
    border: NONE;
    font-size: large;
}
h2 {font-weight: 400;}

.color {color: #B2863A;}
.s-color {color: #EEEFEB;}
.t-color {color: #634411;}
.b-color {background-color: #EEEFEB;}
.sb-color {background-color: #B2863A;}
.tb-color {background-color: #634411;}
.light-font {font-weight: 400;}

/* Page */
header {
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--s-color);
    & #nav-logo {
        width: 250px;
        & img {width: 100%;}
    }
    & #nav-bar {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & a {
            color: var(--main-color);
            margin: 0 2%;
        }
        & a:hover {
            border-bottom: 1px solid;
        }
    }

    /* Sidebar menu */
    & #menu-button {
        display: none;
        height: 40px;
        width: 40px;
        position: relative;
        border: 0;
        z-index: 2;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

        & span {
            position: absolute;
            width: 30px;
            height: 1px;
            left: 5px;
        }
        & span:nth-child(1) {transform: translateY(10px);}
        & span:nth-child(2) {transform: translateY(-10px);}
    }

    /* Input */
    & input {
        border: 0;
        margin-left: 4%;
        padding: 1%;
    }
    & input::placeholder {
        color: #EEEFEB;
    }
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    /* Use for pages */
    & #content-inside {
        padding: 0 5%;
        margin: 5% 0;

        & #page-description {
            padding: 5%;
            & article {
                color: var(--s-color);
                font-size: xx-large;
            }
            & p {
                color: var(--s-color);
            }
        }
        & .page-content {
            padding: 0 5%;
        }
    }
}

/* Footer */
footer {
    position: absolute;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    &  div {}
}
#social-media {
    text-align: center; width: 50%;
    & p {
        padding: 5%;
        margin: 0;
        background-image: url(../img/gold.png);
        color: var(--main-color);
    }
    & div {
        display: flex;
        justify-content: space-around;
        padding: 2%;

        & img {width: 25%; border-radius: 50%;}
    }
}
#communication {
    width: 50%;
    padding: 2% 5%;
    text-align: end;
}

/* Media */
@media screen and (max-width: 800px) {
    header {
        justify-content: space-between;
        padding: 0 5%;

        & div a {
            width: 100%;
            margin-left: 30px;
            margin-top: 10px;
        }
        & #menu-button {
            display: block;
            margin: 0 30px;
        }
        & #menu-button.closed {
            display: none;
        }
        & #nav-bar {
            transform: translateX(100%);
            position: absolute;
            right: -200px;
            top: 0;
            flex-direction: column;
            align-items: flex-start;
            width: 350px;
            padding: 50px 20px 20px 20px;
            background-color: var(--main-color);
            z-index: 1;
            transition: transform .5s;

            & a {
                color: var(--s-color);
                margin: 1% 2%;
                padding: 0 2%;
                width: 40%;
            }
        }
        & #nav-bar.open {
            transform: unset;
        }
    }

    footer {font-size: 14px;}
}

@media screen and (max-width: 426px) {
    header div a {
        width: 100%;
        margin-left: 10px;
    }
    #nav-logo {
        width: 200px;
        margin: 0;
    }

    footer {flex-direction: column-reverse;}
    #communication {
        width: unset;
        padding: 5%;
        text-align: center;
    }
    #communication p {margin: 5px;}

    #social-media {
        width: 100%;

        p {display: none;}
    }
}