{% extends "base.html" %}

{% block content %}
<div id="content-inside">
    <div id="page-description">
        <article>{{ title }}</article>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam efficitur, dui non molestie congue, libero metus
                fringilla turpis, sed porttitor arcu velit id nisl. In hac
                habitasse platea dictumst. Vivamus tincidunt pharetra lorem
                , sed varius nisl. Nulla vulputate velit at mauris tristique,
                ac placerat massa scelerisque. Nunc id eleifend orci, et viverra
                nisi. Suspendisse tempor ante sed arcu congue, in auctor orci
                fermentum. Vestibulum et euismod nisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi eu sodales metus. Cras scelerisque sodales est, et
                blandit nulla euismod vel. Sed tristique eros ligula.
                Mauris sit amet mauris eget est euismod dictum.
            </p>
        </div>
    </div>
    <div class="page-content">
        {% if future_events %}
        <div class="events-block">
            <h2>Budúce Podujatia</h2>
            <div class="events-content">
                {% for event in future_events %}
                <div class="event">
                    <div class="event-header">
                        <p>{{ event.time }}</p>
                        {% if event.photo %}
                            <img src="{{ event.photo.url }}" alt="{{ event.title }}">
                        {% endif %}
                        <a href="{% url 'event' event.slug %}">
                            <h4>{{ event.title }}</h4>
                        </a>
                    </div>
                    <div class="event-content">
                        <p>{{ event.description|truncatewords:5 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if past_events %}
        <div class="events-block">
            <h2 class="color">Minulé Podujatia</h2>
            <div class="events-content">
                {% for event in past_events %}
                <div class="event">
                    <div class="event-header">
                        <p>{{ event.time }}</p>
                        <a href="{% url 'event' event.slug %}">
                            <h4 class="color">{{ event.title }}</h4>
                        </a>
                    </div>
                    <div class="event-content">
                        <p>{{ event.description|truncatewords:5 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}