{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin/admin.css' %}"></linkre>
{% endblock %}

{% block title %}
{% if subtitle %}
{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {{ site_header|default:_('Django administration') }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_active and user.is_staff %}
<ul class="object-tools">
    <li>
        <a href="/admin/download-db/" class="historylink">DATABASE</a>
    </li>
</ul>
{% endif %}
{% endblock %}
