{% load static %}

<div id="social-media" class="tb-color">
    <p class="">
        Všetky aktuality a zaujímavosti nájdete na
        našich oficiálnych sociálnych sieťach. Budeme
        radi, ak nás na nich budete sledovať.
    </p>
    <div id="social-media-links">
        <a href=""><img src="{% static '/img/icons/inst.png'%}" alt="instargam"></a>
        <a href=""><img src="{% static '/img/icons/faceb.png'%}" alt="facebook"></a>
        <a href=""><img src="{% static '/img/icons/yout.png'%}" alt="youtube"></a>
    </div>
</div>
<div id="communication">
    <p><a href="tel:+421908423433" class="color">0908 423 433</a></p>
    <p><a href="mailto:terraaurum@gmail.com" class="color">terraaurum@gmail.com</a></p>
    <address class="color">Brhlovce 106, Dolné Brhlovce, Slovakia, 93502</address>
</div>